<h1 class="border-bottom border-info mt-4">Modification de l'article</h1>

<%= render 'form', article: @article %>

<%= link_to 'Voir', @article, :class => "not-nav" %> |
<%= link_to 'Retour', articles_path, :class => "not-nav" %>
